body {
  font-family: sans-serif;
  background: #f4f4f4;
  padding: 20px;
}

#app {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

textarea, select, input, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background: #2b73ff;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0047b3;
}